:root {
  font-family: Karla, system-ui, Avenir, Helvetica, Arial, sans-serif;

  /* Colors */
  --purple1: #672280;
  --purple2: #a626d3;
  --white: #fff;
  --black: #000;

  /* Light Theme */
  --headerBg: linear-gradient(to right, var(--purple1), var(--purple2));
  --headerText: var(--white);
  --text: var(--black);
  --ctaBg: linear-gradient(to right, var(--purple1), var(--purple2));
  --ctaText: var(--white);
 
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}